:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

input, select, button {
  font: inherit;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

table th, table td {
  vertical-align: top;
}
